html{
	background: #696868;
}
body{
	margin: 80px;
	margin-top: 0px;
	background-image: url("images/body-bg.png");
}
.flex_container{
	display: flex;
	padding: 10px;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}

figcaption{
	text-align:center;
}
#header_container{
	
	position: fixed;
	margin-top: 0px;
}

#header_container img{
	float: left;
}
#header_container nav{
	float:right;
}
#empty_div{
	clear:both;
}
#about{
	margin-top: 0px;
}
#about_container{
	flex-wrap:nowrap;
}
#about_text_images_container{
	flex-direction : column;
	flex-shrink:8;
}
#image_list_div{
	justify-content:space-around;
}
a{
	text-decoration: none;
	color:white;
}

body > header{
	position: fixed;
	background-color: black;
	margin: 0px;
	}


body >header>img {
	margin: 10px;
}

nav ul{
	list-style: none;
}

nav ul li{
	margin-right:10px; 
}

p{
	text-align: justify;
	margin-right: 20px;
}

#hidden_dialog{
	display: none;
}
#close_btn{
	position: absolute;
	align:top-right;
}
#articles_div{
	flex-wrap:nowrap;

}
#about:target #hidden_dialog{
	display: block;
};

#about_images_container{
	flex-shrink:8;
}